[user]
    name = dskwrite
    email = 85462819+dskwrite@users.noreply.github.com

[init]
	defaultBranch = main

[credential]
	helper = manager

[credential "https://github.com"]
    username = "dskwrite"

[includeIf "gitdir:~/repos/pv/ado/"]
    path = ~/repos/pv/ado/.gitconfig

[includeIf "gitdir:~/repos/pv/gh/"]
    path = ~/repos/pv/gh/.gitconfig