[storage]
engine = file_system
path = .dotfiles/configs/mackup
directory = backup

[applications_to_sync]
affinity-designer
affinity-photo
alt-tab
#apple-music
bartender
beyond-compare-custom
#cleanshot-custom
#colorslurp
#daisy-disk
#docker
forklift-custom
#httpie
#microsoft-remote-desktop
#mosaic
#nano
#streamdeck
#tableplus-custom
warp-custom